html {
  font-size: 14px;
}

@media (min-width: 768px) {http://localhost:5292/
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 180px;
    height: 1450px;
    padding-top: 75px;
    background: linear-gradient(200deg, #A233C2, #E7D1F4);
}

.navbar {
    background-color: #E5C9FC;
    font-weight:bold;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
}
.btn_exit {
    font-weight: bold;
    margin-left:40px;
}
.item_info, .TextOrders {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #C8A2C8;
}
.TextOrders {
    font-size: 20px;
    color: #B464F6;
    background-color: #F3E7FE;
    border: 2px dashed #8C11F2;
}
#srch, #srch_btn, .btn_orders {
    border-radius: 8px;
    background-color: #DCB7FB;
    color: #46394B;
    font-weight: bold;
}
.EasterEgg {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#srch_btn, .btn_cart1, .btn_cart2, .btn_cart3 {
    background-color: #CB93F8;
}
.btn_cart1, .btn_cart2, .btn_cart3{
    border-radius:6px;
    margin:2px;
}
 p.TextFooter {

    
}
.btn_cart3{
    margin-left:17px;
}
.textIndex{
    margin-top:30px;
}
.btn_Add {
    background-color: #CB93F8;
    border-radius: 6px;
   width:150px;
   height:35px;
   
}
.ForBtn_Add{
    display:grid;
    justify-content:center;
}
.TitleOfCatalog, .TitleOfCart, .TitleOfAdd, .TitleOfOrders, .TitleOfIndex {
        color: #C8A2C8;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 26px;
        font-weight: bold;
}
.TitleOfIndex{
    font-size:42px;
    margin-bottom:40px;
}
.IndexText {
    font-size: 28px;
    line-height: 50px;
    font-weight: bold;
    color: #C8A2C8;
}
footer {
    background-color: #E5C9FC;
    border:none;
    
}

#catalog-grid{
    display: grid;
    margin-top:35px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    
}

.AddArea{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    
}
.Add1, .Add2, .Add3, .Add4 {
    width: 350px;
    height: 40px;
    background-color: #E5C9FC;
    color: #46394B;
    font-weight:bold;
    border-radius:7px;
}
.catalog_item {
    
    padding: 14px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    background: linear-gradient(210deg, #CFB9E1,#EDE4F3 );
}

.catalog_item:hover {
    background: linear-gradient(-240deg, #CFB9E1,#EDE4F3 );
    transform: scale(1.1);
    box-shadow: 5px 5px 30px  #838384;

}
.item_photo {
    width: 425px;
    height: 350px;
    border-radius: 6px;
}

.item_title {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 20px;
}

.item_price{
    align-self:flex-end;
    font-weight:bold;
    font-size:24px;
    font-family:'Bookman Old Style';
}

.item_description{
    margin-bottom:20px;
    font-size:16px;
    text-align:center;
    max-width:300px;
    line-height:16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btn-lg {
    background-color: #e5c9fc;
    color: #212529;
}
.item_owner {
    align-self: flex-start;
    font-family: 'Bookman Old Style';
    font-weight:bold;
    font-size:18px;
}
.item-photo img {
    width: 100%;
    height: 100%;

}
.item_btn {
    border-radius: 10px;
    border: none;
    background-color: violet;
    padding: 2px 14px;
    color: #46394B;
    font-weight: 650;
    transition:0.5s;
}

.item_btn:hover {
     background-color: #924E7D;
     color: #C8A2C8;
     box-shadow
     
}

