@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center textIndex">
    <h1 class="display-4 TitleOfIndex">Добро пожаловать!</h1>
    <p class="IndexText">Данный сайт был создан благодаря ASP .NET<br />
        Приятного времяпрепровождения!</p>
</div>
